.Blog ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.Blog li {
  display: inline-block;
  margin: 20px;
}

.Blog a {
  text-decoration: none;
  color: #000000;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
  color: #fa923f;
}

.rootStyle {
  width: 75%;
  text-align: center;
  margin: 50px auto;
  font-family: arial;
  font-size: 1.2rem;
  border: 2px solid orange;
  border-radius: 15px;
  background-color: rgba(216, 210, 210, 0.144);
}
